.menu-cat-product {}

.menu-cat-product .sub-menu-2 {
    background: #fe980f;
    position: absolute;
    display: none;
    right: 0px;
    padding-left: 0px;
    top: 0px;
}

.menu-cat-product .li-1 {
    position: relative;
}


.menu-cat-product .li-1:hover .sub-menu-2 {
    display: block;
    z-index: 20;
}

.menu-cat-product .li-1:hover .sub-menu-2:hover {
    display: block;
}

.menu-cat-product .sub-menu-2 .li-2:hover a {
    color: #e2dfdf;
}

.cat-product-sb {
    position: relative;
    overflow: visible !important;
}

.cat-product-sb .panel-heading-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #eca340 !important;
    padding: 0px;
    display: none;
}

.cat-product-sb:hover .panel-heading-2 {
    display: block;
}

.cat-product-sb:hover .panel-heading-2 h4:hover a {
    color: #443d3d !important;
}

.cat-product-sb:hover .panel-heading-2 h4 a {
    color: #ffffff !important;
}

.cat-product-sb:hover .panel-heading-2 .panel-title a {
    padding-left: 13px;
    line-height: 22px;
    padding: 0px;
}

.category-products .panel-default .panel-heading-2 {
    padding: 0px;
    /* height: 200px; */
    z-index: 20;
    padding-top: 6px;
    padding-bottom: 6px;
}

.category-products .panel-default .panel-heading-2 a {
    padding: 35px;
    line-height: 1.6;
}

.category-products .panel-default .panel-heading-2 h4.panel-title {
    padding-left: 26px;
    padding-right: 25px;
}


.popup-img {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-img .popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup-img .popup-image {
    max-width: 100%;
    max-height: 100%;
}

.popup-img .close {
    position: absolute;
    top: 1px;
    right: 0px;
    color: #000000a6;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}

/* -----------xử lý sản phẩm hiển thị---------- */
.product-information span div .description-2 {
    font-size: 14px;
    padding-top: 8px;
}

/* -------------end xử lý sản phẩm hiển thị---------- */

.logo-website img {
    max-width: 160px;
}


.div-price {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.div-price .price-old {
    font-size: 18px;
    color: #676157 !important;
    text-decoration: line-through red;
    position: relative;
    top: 4px;
}

.div-price.div-price-product-detail .price-old {
    top: 10px;
}