.menu-cat-product {}

.menu-cat-product .sub-menu-2 {
    background: #fe980f;
    position: absolute;
    display: none;
    right: 0px;
    padding-left: 0px;
    top: 0px;
}

.menu-cat-product .li-1 {
    position: relative;
}


.menu-cat-product .li-1:hover .sub-menu-2 {
    display: block;
    z-index: 20;
}

.menu-cat-product .li-1:hover .sub-menu-2:hover {
    display: block;
}

.menu-cat-product .sub-menu-2 .li-2:hover a {
    color: #e2dfdf;
}

.cat-product-sb {
    position: relative;
    overflow: visible !important;
}

.cat-product-sb .panel-heading-2 {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #eca340 !important;
    padding: 0px;
    display: none;
}

.cat-product-sb:hover .panel-heading-2 {
    display: block;
}

.cat-product-sb:hover .panel-heading-2 h4:hover a {
    color: #443d3d !important;
}

.cat-product-sb:hover .panel-heading-2 h4 a {
    color: #ffffff !important;
}

.cat-product-sb:hover .panel-heading-2 .panel-title a {
    padding-left: 13px;
    line-height: 22px;
    padding: 0px;
}

.category-products .panel-default .panel-heading-2 {
    padding: 0px;
    /* height: 200px; */
    z-index: 20;
    padding-top: 6px;
    padding-bottom: 6px;
}

.category-products .panel-default .panel-heading-2 a {
    padding: 35px;
    line-height: 1.6;
}

.category-products .panel-default .panel-heading-2 h4.panel-title {
    padding-left: 26px;
    padding-right: 25px;
}


.popup-img {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-img .popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup-img .popup-image {
    max-width: 100%;
    max-height: 100%;
}

.popup-img .close {
    position: absolute;
    top: 1px;
    right: 0px;
    color: #000000a6;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
}

/* -----------xử lý sản phẩm hiển thị---------- */
.product-information span div .description-2 {
    font-size: 14px;
    padding-top: 8px;
}

/* -------------end xử lý sản phẩm hiển thị---------- */

.logo-website img {
    max-width: 160px;
}


.div-price {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.div-price .price-old {
    font-size: 18px;
    color: #676157 !important;
    text-decoration: line-through red;
    position: relative;
    top: 4px;
}

.div-price.div-price-product-detail .price-old {
    top: 10px;
}

.box-support-hotline {
    position: fixed;
    bottom: 120px;
    right: 42px;
    z-index: 10;
}





/* ----------style trên mobile-------- */
@media only screen and (max-width: 576px) {
    #container_viewed {
        display: none !important;
    }

    .shop-menu .nav.navbar-nav {
        display: flex !important;
        gap: 7px;
        position: relative;
        left: -14px;
        justify-content: space-between;
    }

    .logo-website img {
        max-width: 123px;
    }

    .header-middle .container .row {
        padding-top: 9px;
        padding-bottom: 0px;
    }

    .search_box input {
        max-width: 195px;
    }

    .navbar-toggle {
        background-color: #fe980f;
    }

    .left-sidebar h2,
    .brands_products h2 {
        margin-bottom: 18px;
        font-size: 16px;
    }

    .well {
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .well #form-filter {
        display: inline-block;
    }

    .well #form-filter input {
        margin-top: 10px;
        margin-bottom: 11px;
    }

    .features_items .col-sm-4 {
        width: 50%;
        float: left;
        margin-bottom: -10px;
    }

    .div-price .price-new {
        font-size: 16px;
        margin-top: 5px;
    }

    .productinfo p {
        font-size: 14px;
        padding-right: 4px;
        padding-left: 4px;
        min-height: 50px;
    }

    .choose ul li a {
        padding: 0px;
        padding-top: 4px;
        padding-bottom: 1px;
    }

    .div-price .price-old {
        margin: 0px;
        font-size: 14px;
        top: 6px;
    }

    .div-price {
        gap: 7px;
    }

    .recommended_items h2 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    div#recommended-item-carousel {}

    #recommended-item-carousel .col-sm-4 {
        width: 50%;
        float: left;
    }

    #recommended-item-carousel1 .col-sm-4 {
        width: 50%;
        float: left;
    }

    .footer-widget .col-sm-2 {
        padding-left: 17px;
    }

    .footer-widget .col-sm-3 {
        display: table-cell !important;
    }

    .breadcrumbs .breadcrumb li {
        padding-bottom: 9px;
    }

    .breadcrumbs .breadcrumb {
        margin-bottom: 0px;
    }

    .view-product img {
        max-width: 67%;
        margin: 0px auto;
        display: block;
    }

    #similar-product .col-sm-4 {
        width: 33%;
        float: left;
    }

    .product-information {
        padding-top: 15px;
        text-align: center;
        padding-left: 15px;
        padding-bottom: 2px;
    }

    .product-information h2 {
        font-size: 17px;
    }

    .product-information p {
        font-size: 13px;
        text-align: left;
        padding-left: 8px;
    }

    .div-price.div-price-product-detail {
        padding-left: 81px;
        margin-top: -13px;
        margin-bottom: 7px;
    }

    .product-information span span.size-item {
        float: left;
        width: 44px;
        height: 33px;
        margin-top: 7px;
    }

    .product-information span div {
        padding-top: 0px;
    }

    .product-information span label {
        font-size: 15px;
    }

    .product-information span input {
        width: 56px;
    }

    .register-req,
    .step-one .heading {
        font-size: 15px;
    }

    .sweet-alert {
        margin-top: -278px !important;
    }

    .cart_info table tr td {
        display: block;
    }

    #container-cart .cart_menu {
        display: flex;
    }

    #container-cart .cart_product {
        width: 26%;
        float: left;
    }

    #cart_items .cart_info .cart_description h4 a {
        font-size: 15px;
    }

    #cart_items .cart_info .cart_total_price {
        font-size: 17px;
        padding-left: 84px;
    }

    .cart_info table tr td.cart_delete {
        padding-left: 91px;
        margin-bottom: 13px;
    }

    #cart_items .cart_info .cart_price p {
        font-size: 15px;
    }

    #cart_items h1 {
        font-size: 18px;
        margin-top: -18px;
    }

    #data-table {
        position: relative;
        left: 15px;
    }

    .cart_items_success .cart_info table tr td {
        display: inline-block;
    }

    .cart_items_success .cart_menu {
        display: none;
    }

    #search_ajax .show {
        margin-left: 85px;
        top: 38px;
    }
}

/* --------end style trên mobile--------- */